.filterTrans {
    margin-bottom: 100px;
    background-color: aliceblue;
    height: 531px;
    border-radius: 5px;
}

form.form-submit-trans {
    background: aliceblue;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 17px;
}

.backpage{
    margin-bottom: 100px;
    background-color: aliceblue;
    border-radius: 5px;
}

.data-table-container {
    width: 100%;
}

@media (max-width: 1188px) {
    .data-table-container {
        width: 84%;
        position: relative;
        left: 88px;
    }
    #root {
        width: 82%;
    }
}

@media (max-width: 800px) {
    .data-table-container{
        position: relative;
        left: 51px;
    }
}
@media (max-width: 538px){
    .filterTrans {
        height: 690px;
    }
}
@media (max-width: 483px){
    .filterTrans {
        height: 768px;
    }
}
@media (max-width: 427px){
    .filterTrans {
        height: 845px;
    }
}
@media (max-width: 360px){
    .filterTrans {
        height: 845px;
    }
}
@media (max-width: 389px) {
    .data-table-container {
        position: relative;
        left: 30px;
    }
}